<div id="ComponentsController_ID" ng-controller="ComponentsController" ng-app="Components" ng-mouseup="toggleNodeActions();">
	<div id="mm9_dialog_layout_mmdialog" class="mm9_dialog" data-mmdisableonsubmit="on">
		<div class="mm9_dialog_container">
			<div id="mm9_dialog_layout_mmdialog_content_container" class="mm9_dialog_content_container">
				<div id="mm9_dialog_layout_mmdialog_close" class="mm9_dialog_close mm9_mivaicon icon-cancel"></div>
				<div id="mm9_dialog_layout_mmdialog_fullscreen" class="mm9_dialog_button_fullscreen mm9_mivaicon icon-fullscreen_start" style="display: block;"></div>
				<div id="mm9_dialog_layout_mmdialog_title" class="mm9_dialog_title"></div>
				<div id="mm9_dialog_layout_mmdialog_content" class="mm9_dialog_content mm9_dialog_content_body">
					<span id="layout_dialog_container" class="layout_dialog_container">
						<div class="layout_dialog_close">
							<span class="layout_dialog_close_button"></span>
						</div>

						<div class="layout_dialog_titlebar">
							<div class="layout_dialog_titlebar_inner">
								<span class="layout_dialog_titlebar_title">{{ data.layout.name }}</span>
								<span class="layout_dialog_titlebar_controls">
									<span ng-click="newComponent( data.layout )" class="layout_dialog_action"><span class="icon-add"></span> Add New Component</span>
								</span>
							</div>
						</div>

						<div class="layout_dialog_content">
							<div ui-tree class="cmp-components">
								<ol ui-tree-nodes="" ng-model="data.layout.nodes" id="tree-root">
									<li class="cmp-component" ng-attr-data-nodrop-enabled="{{ node.component.allow_children ? undefined : true  }}" ng-repeat="node in data.layout.nodes" ng-class="{ 'cmp_container_wrap' : node.component.allow_children, 'cmp_item_wrap' : !node.component.allow_children, 'cmp--nodes__hidden': node.hide_nodes }" ui-tree-node ng-include="'nodes_renderer.html'" ng-init="parent = data.layout" ></li>
								</ol>
							</div>
						</div>

						<div class="layout_dialog_bottom">
							<span class="layout_dialog_actionbar">
								<span class="layout_dialog_bottom_actionbar_subtitle">Layout Name</span>
								<span class="layout_dialog_bottom_actionbar_title">{{ data.layout.name }}</span>
								<span class="layout_dialog_bottom_actionbar_edit">Edit</span>
							</span>
							<span class="layout_dialog_bottom_buttons"></span>
						</div>
					</span>
				</div>
				<div id="mm9_dialog_layout_mmdialog_actionbar" class="mm9_dialog_actionbar"></div>
			</div>
			<div id="mm9_dialog_layout_mmdialog_resize_top" class="mm9_dialog_resize_top"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_right" class="mm9_dialog_resize_right"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_bottom" class="mm9_dialog_resize_bottom"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_left" class="mm9_dialog_resize_left"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_topright" class="mm9_dialog_resize_topright"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_bottomright" class="mm9_dialog_resize_bottomright"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_bottomleft" class="mm9_dialog_resize_bottomleft"></div>
			<div id="mm9_dialog_layout_mmdialog_resize_topleft" class="mm9_dialog_resize_topleft"></div>
		</div>
	</div>

	<div id="layoutcomponent_mmdialog" class="mm9_dialog layout_mm_dialog" ng-include="'mm_dialog_inner.html'"></div>
	
	<!-- Inner MMDialog -->
	<script type="text/ng-template" id="mm_dialog_inner.html">
		<div class="mm9_dialog_container">
			<div id="layoutcomponent_mmdialog_content_container" class="mm9_dialog_content_container">
				<div id="layoutcomponent_mmdialog_close" class="mm9_dialog_close mm9_mivaicon icon-cancel"></div>
				<div id="layoutcomponent_mmdialog_title" class="mm9_dialog_title">{{ dialog.title }}</div>
				<div id="layoutcomponent_mmdialog_content" class="mm9_dialog_content mm9_dialog_content_body">
					<div ng-include="'mm_dialog_content.html'"></div>
				</div>
				<div id="layoutcomponent_mmdialog_actionbar" class="mm9_dialog_actionbar"></div>
			</div>
			<div id="layoutcomponent_mmdialog_resize_top" class="mm9_dialog_resize_top"></div>
			<div id="layoutcomponent_mmdialog_resize_right" class="mm9_dialog_resize_right"></div>
			<div id="layoutcomponent_mmdialog_resize_bottom" class="mm9_dialog_resize_bottom"></div>
			<div id="layoutcomponent_mmdialog_resize_left" class="mm9_dialog_resize_left"></div>
			<div id="layoutcomponent_mmdialog_resize_topright" class="mm9_dialog_resize_topright"></div>
			<div id="layoutcomponent_mmdialog_resize_bottomright" class="mm9_dialog_resize_bottomright"></div>
			<div id="layoutcomponent_mmdialog_resize_bottomleft" class="mm9_dialog_resize_bottomleft"></div>
			<div id="layoutcomponent_mmdialog_resize_topleft" class="mm9_dialog_resize_topleft"></div>
		</div>
	</script>
	
	<!-- MMDialog Content -->
	<script type="text/ng-template" id="mm_dialog_content.html">
		<div ng-form="mmdialog.dialogForm">
			<table width="100%">
				<tr ng-if="components.length > 0" ng-class="{ 'layoutcomponent_error' : mmdialog.popup_show_errors && mmdialog.dialogForm.layoutcomponent_component.$invalid }">
					<td valign="top" nowrap><span class="layoutcomponent_prompt layoutcomponent_required">Select Component:</span></td>
					<td valign="top" width="100%">
						<select name="layoutcomponent_component" ng-model="mmdialog.component.component" required>
							<option ng-repeat="component in components track by component.id" ng-value="component">{{ component.name }}</option>
						</select>
					</td>
				</tr>
				<tr ng-if="mmdialog.component.component.descrip">
					<td valign="top" nowrap><span class="layoutcomponent_prompt">Component Description:</span></td>
					<td valign="top" width="100%;">{{ mmdialog.component.component.descrip }}</td>
				</tr>
				<tr ng-if="mmdialog.component.component.image">
					<td valign="top" colspan="2">
						<img ng-src="{{ mmdialog.component.component.image }}" style="max-width:205px; max-height: 205px;" />
						<br /><em>Reference Image</em>
					</td>
				</tr>
				<tr ng-if="mmdialog.component.component.id > 0">
					<td colspan="2">
						<label>
							<input type="checkbox" name="layoutcomponent_active" ng-model="mmdialog.component.active" ng-true-value="1" ng-false-value="0"> Active
						</label>
					</td>
				</tr>
				<tr ng-if="mmdialog.component.component.id > 0">
						<td colspan="2"><hr /></td>
				</tr>
				<tr ng-class="{ 'layoutcomponent_error' : data.popup_show_errors && mmdialog.dialogForm.layoutcomponent_name.$invalid }">
					<td valign="top" nowrap><span class="layoutcomponent_prompt layoutcomponent_required">Name:</span></td>
					<td valign="top" width="100%"><input type="text" name="layoutcomponent_name" ng-model="mmdialog.component.name" required /></td>
				</tr>
				<tr ng-if="mmdialog.component.component.id > 0" ng-repeat="attribute in mmdialog.component.component.attributes" ng-class="{ 'layoutcomponent_error' : newComponent_Validation( attribute, $index ) }">
					<td valign="top" nowrap><span class="layoutcomponent_prompt" ng-if="attribute.type != 'checkbox'" ng-class="{ 'layoutcomponent_required' : attribute.required }">{{ attribute.prompt }}:</span></td>
					<td valign="top" width="100%" ng-if="attribute.type == 'text'">
						<input type="text" placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" />
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'memo'">
						<textarea placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}"></textarea>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'select'">
						<select name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" ng-init="attribute.value = attribute.value || ''">
							<option value="">-- Select One --</option>
							<option ng-repeat="option in attribute.options track by option.id" ng-value="option.prompt">{{ option.prompt }}</option>
						</select>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'radio'">
						<label ng-repeat="option in attribute.options">
							<input type="radio" name="layoutcomponent_{{$parent.$index}}" ng-model="attribute.value" ng-value="option.prompt" ng-required="{{ attribute.required ? true : false }}"> {{ option.prompt }}
						</label>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'checkbox'">
						<label>
							<input type="checkbox" name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" ng-true-value="1" ng-false-value="0"><span ng-class="{ 'layoutcomponent_required' : attribute.required }">{{ attribute.prompt }}</span>
						</label>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'product'">
						<input id="js-attribute_{{ attribute.id }}" type="text" placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.product.code" ng-required="{{ attribute.required ? true : false }}" />
						<span class="mm9_button_light layoutcomponent_img_button" ng-click="productPopup( 'js-attribute_' + attribute.id )">
							<span class="mm9_button_image mm9_mivaicon" style="display: inline-block;"></span>
							<span class="mm9_button_text" style="padding-left: 5px;">Lookup Product</span>
						</span>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'category'">
						<input id="js-attribute_{{ attribute.id }}" type="text" placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.category.code" ng-required="{{ attribute.required ? true : false }}" />
						<span class="mm9_button_light layoutcomponent_img_button" ng-click="categoryPopup( 'js-attribute_' + attribute.id )">
							<span class="mm9_button_image mm9_mivaicon" style="display: inline-block;"></span>
							<span class="mm9_button_text" style="padding-left: 5px;">Lookup Category</span>
						</span>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'image'">
						<div ng-if="attribute.value"><img ng-src="{{ attribute.value }}" style="max-width:190px; max-height: 140px;" title="Image for {{ attribute.prompt }}" alt="Image for {{ attribute.prompt }}" /></div>
						<input id="js-attribute_{{ attribute.id }}" type="text" placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" />
						<span class="mm9_button_light layoutcomponent_img_button" ng-click="imageUpload( 'js-attribute_' + attribute.id )">
							<span class="mm9_button_image mm9_mivaicon" style="display: inline-block;"></span>
							<span class="mm9_button_text" style="padding-left: 5px;">Select Image</span>
						</span>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'link'">
						<select name="layoutcomponent_type_{{$index}}" ng-model="attribute.link.type" ng-required="{{ attribute.required ? true : false }}" id="js-attribute_{{ attribute.id }}" ng-init="attribute.link.type = attribute.link.type || 'N'">
							<option value="N">None</option>
							<option value="U">URL</option>
							<option value="P">Product</option>
							<option value="C">Category</option>
							<option value="G">Page</option>
						</select>
						<input ng-if="attribute.link.type && attribute.link.type != 'N'" name="layoutcomponent_link_{{$index}}" required type="text" ng-model="attribute.link.value" id="js-attribute_link_{{ attribute.id }}" />
						<span ng-if="attribute.link.type && attribute.link.type != 'N' && attribute.link.type != 'U'" class="mm9_button_light layoutcomponent_img_button" ng-click="linkPopup( attribute )">
							<span class="mm9_button_image mm9_mivaicon" style="display: inline-block;"></span>
							<span ng-if="attribute.link.type == 'P'" class="mm9_button_text" style="padding-left: 5px;">Lookup Product</span>
							<span ng-if="attribute.link.type == 'C'" class="mm9_button_text" style="padding-left: 5px;">Lookup Category</span>
							<span ng-if="attribute.link.type == 'G'" class="mm9_button_text" style="padding-left: 5px;">Lookup Page</span>
						</span>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'imagetype'">
						<select name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" id="js-attribute_{{ attribute.id }}">
							<option value="">-- Select Image Type --</option>
							<option ng-repeat="option in attribute.options" ng-value="option.id">{{ option.descrip }}</option>
						</select>
					</td>
					<td valign="top" width="100%" ng-if="attribute.type == 'datetime'">
						<span class="datetimepicker-value" ng-if="attribute.value" ng-click="dateTimePopup( attribute, 'js-attribute_' + attribute.id )">{{ dateTimeFormatted( attribute.value ) }}</span>
						<span class="datetimepicker-remove" ng-if="attribute.value" ng-click="removeDateTime( attribute )">Remove</span>
						<span class="datetimepicker-value datepicker-placeholder" ng-if="!attribute.value" ng-click="dateTimePopup( attribute, 'js-attribute_' + attribute.id )">Select Date/Time</span>
						<input id="js-attribute_{{ attribute.id }}" type="hidden" placeholder="{{ attribute.prompt }}" name="layoutcomponent_{{$index}}" ng-model="attribute.value" ng-required="{{ attribute.required ? true : false }}" />
					</td>
				</tr>
			</table>
		</div>
	</script>

	<!-- Nested node template -->
	<script type="text/ng-template" id="nodes_renderer.html">
		<div ui-tree-handle class="cmp-component--wrapper" ng-class="{ 'cmp_container' : node.component.allow_children, 'cmp_item' : !node.component.allow_children }" ng-init="checkNodes( node )">

			<span class="cmp-component--drag">
				<span class="cmp-component--drag__line1"></span>
				<span class="cmp-component--drag__line2"></span>
			</span>

			<span class="cmp-component--title" ng-class="{ 'cmp-component--title__inactive' : !node.active }">
				<span class="cmp-component--title__component">{{node.component.name}}</span>
				<span class="cmp-component--title__name">{{node.name}}</span>
			</span>

			<span class="cmp-component--expand" ng-if="node.nodes.length" ng-click="slideToggle( node )" data-nodrag>
				<span class="cmp-component--expand__icon" ng-attr-title="{{ node.hide_nodes ? 'Show Children' : 'Hide Children' }}" ng-class="{ 'cmp-component--expand__toggled' : node.hide_nodes }">
					<span class="cmp-component--expand__line1"></span>
					<span class="cmp-component--expand__line2"></span>
				</span>
			</span>
			<span class="cmp-component--expand" ng-if="!node.nodes.length" data-nodrag></span>

			<span class="cmp-component--actions" data-nodrag ng-class="{ 'cmp-component--actions__active' : nodeActive == node }" ng-click="toggleNodeActions( node )" ng-if="permissions.can_add || permissions.can_edit || permissions.can_delete">
				<span class="cmp-component--actions__row">
					<div class="cmp-component--actions__menu">
						<span class="cmp-component--actions__item" ng-if="permissions.can_add && permissions.can_edit && node.component.allow_children" ng-click="newComponent( this ); toggleNodeActions();">Add Child</span>
						<span class="cmp-component--actions__item" ng-if="permissions.can_edit" ng-click="editComponent( this, node ); toggleNodeActions();">Edit Component</span>
						<span class="cmp-component--actions__item" ng-if="permissions.can_add && permissions.can_edit" ng-click="duplicateComponent( parent, node )">Duplicate Component</span>
						<span class="cmp-component--actions__divider" ng-if="permissions.can_delete"></span>
						<span class="cmp-component--actions__item" ng-if="permissions.can_delete" ng-click="removeComponent( this, node )">Delete Component</span>
					</div>
					<span class="cmp-component--actions__button" tabindex="0" title="More Options">
						<span class="cmp-component--actions__button_custom">
							<span class="cmp-component--actions__button_el1"></span>
							<span class="cmp-component--actions__button_el2"></span>
							<span class="cmp-component--actions__button_el3"></span>
						</span>
						<span class="cmp-component--actions__tail_border"></span>
						<span class="cmp-component--actions__tail"></span>
					</span>
				</span>
			</span>
		</div>
		<ol ng-attr-data-nodrop-enabled="{{ node.component.allow_children ? undefined : true  }}" ui-tree-nodes="" ng-init="parent = node" ng-model="node.nodes">
			<li class="cmp-component" ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-class="{ 'cmp_container_wrap' : node.component.allow_children, 'cmp_item_wrap' : !node.component.allow_children, 'cmp--nodes__hidden': node.hide_nodes }">
			</li>
		</ol>
	</script>
</div>









